.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .stats-container {
    align-items: start;
    margin-left: 48px;
  }
}

.avatar-container {
  content-visibility: auto;
}

.social-links {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
